# Application
APP_NAME=Cyber-Vault
APP_ENV=development
SECRET_KEY=changeme-generate-a-strong-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Base de données
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/cybervault

# CORS
ALLOWED_ORIGINS=["http://localhost:4200"]
